
.container-form {
    border: solid 2px #604B2A;
    border-radius: 40px;
    padding: 2%;
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 5% auto;
    align-items: center;
    justify-content: center;
    background-color: #604B2A;
    color: white;
}

.form-title{
    font-size: 2rem;
    margin-bottom: 3%;
}

.inp{
    border-radius: 8px;
    width: 50%;
}

.form-message{
    width: 28%;
}

.send-button{
    background-color: #1D0B06;
    color: white;
    width: 20%;
    padding: 1%;
    border-radius: 25px; 
    font-size: 16px;   
}