@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: rgb(246, 240, 190);
}

.section-1 {
    display: flex;
    flex-direction: row;
    text-align: left;
    margin-top: 4%;
    margin-left: 10%;
    margin-right: 5%;
}

.furniture-name {
    font-size: 2.5em;
    color: #604B2A;
    margin-bottom: 0.8em;
}

.furniture-description {
    margin-bottom: 2.5em;
    font-size: 1em;
    color: #40321c;
    font-weight: bold;
    padding-right: 10%;
}

.shipping-text {
    font-size: 1rem;
    color: #40321c;
}

.detail-img{
    width: 25rem;
    border-radius: 0.8rem;
    height: 25rem;
    margin-bottom: 10%;
}


.furniture-price {
    position: absolute;
    width: 15%;
    padding: 0.5em;
    justify-items: center;
    text-align: center;
    color: rgb(246, 240, 190);
    background-color: #604B2A;
    border-radius: 1.5rem;
    left: 30%;
    margin-top: 3%;
}

.price {
    color: rgb(246, 240, 190);
    font-size: 1.3em;
}

.iva {
   color: rgb(246, 240, 190);
}

.add-cart-bt {
    margin-top: 4%;
    padding: 0.5rem;
}