
.carta-modelo {
    background-color: rgb(246, 240, 190);
    width: 25rem;
    display: flex;
    flex-direction: column;
    border-radius: 0.8rem;
    position: relative;
    justify-content: center;
    justify-items: center;
    text-align: center;
    align-items: center;
    margin-top: 2rem;
}

.producto-imagen {
    width: 100%;
    border-radius: 0.8rem;
}
.producto-info-basico {
    position: absolute;
    bottom: 0;
    border-radius: 0.8rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.producto-titulo {
    position: absolute;
    top: 0;
    margin: 2rem;
    padding: 1rem;
    color: #604B2A;
    font-weight: bolder;
    font-size: xx-large;
    background-color: rgb(246, 240, 190, .6);
    border-radius: 1rem;
/*     opacity: .5; */
}
.boton-producto-agregar, .boton-producto-detalles {
<<<<<<< HEAD
    width: 35%;
=======
    width: 46%;
>>>>>>> dev
    justify-content: center;
    justify-items: center;
    text-align: center;
    padding: 2%;
    color: white;
    background-color: #604B2A;
    border-radius: 1rem;
<<<<<<< HEAD
    margin: 1rem;
=======
    margin: 0.5rem;
    font-size: 1rem;
    transition: transform 0.3s ease;
}

.boton-producto-agregar:hover, .boton-producto-detalles:hover{
    background-color: #775d34;
    box-shadow: 0rem 0rem 0.5rem 0.1rem #dfb747;
>>>>>>> dev
}

.contenedor-productos {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    transition: transform 0.3s ease;
    background-color: #f7ee9c;
    border-radius: 1rem;
    margin-bottom: 2rem;
}

.contenedor-productos:hover {
    box-shadow: 0rem 0rem 1rem 0.5rem #dfb747;
    border-radius: 1rem;
}

