*{
    font-family: "Poppins", sans-serif;
    margin: 0 auto;
}

.navEcoPop{
    height: 7rem;
    width: 100%;
    background-color: #604B2A;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logoNav{
    width: 50%;
   /*  border: solid; */
    justify-content: start;
    padding-left: 4rem;
}
.botonesNav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    padding-right: 4rem;
    /* border: solid; */
}
.botonesNav button{
    cursor: pointer;
    border: none;
    background-color: #604B2A;
    color: white;
    font-size: 1.5rem;
    display: inline-block;
    position:relative;
}
.botonesNav button::after{
    content:'';
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform: scaleX(0) ;
    transform-origin: bottom right;
    transition: transform 0.6s ease-out;
}
.botonesNav button:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}