.section-slider {
    timeline-scope: --carousel;
  }
  
  .markers li:nth-child(1) {
    --i: 1;
  }
  
  .markers li:nth-child(2) {
    --i: 2;
  }
  
  .markers li:nth-child(3) {
    --i: 3;
  }
  
  .markers li:nth-child(4) {
    --i: 4;
  }
  
  .slider {
    scroll-timeline: --carousel x;
    display: flex;
    flex-direction: row;
    border-radius: 4px;
    width: 100%;
    scroll-snap-type: x mandatory;
    overscroll-behavior: contain;
    scroll-behavior: smooth;
    overflow-x: hidden; 
    overflow-y: hidden;
  }
  
  .markers .a-img {
    display: block;
    width: 16px;
    aspect-ratio: 1;
    background: #1D0B06;
    border-radius: 50%;
    animation: activate linear;
    animation-timeline: --carousel;
    animation-range: calc((var(--i) - 1) * 25%) calc(var(--i) * 25% + 1px);
  }
  
  
  
  @keyframes activate {
    0%,
    100% {
      background: #604B2A;
      opacity: 1;
    }
  }
  
  .slider .a-img {
    flex: 0 0 100%;
    width: 100%;
    scroll-snap-align: center;
  }
  
  .slider .img-slider {
    object-fit: cover;
    width: 100%;
  }
  
  .markers {
    display: flex;
    flex-direction: row;
    gap: 0.25em;
    list-style: none;
    font-size: 2em;
    position: absolute;
    bottom: -6rem;
    left: 50%;
    translate: -50% 0;
  }
  
  #container-slider {
    margin: 0;
    display: grid;
    place-content: center;
    height: 100vh;
    background: #F6F0BE;
  }

